<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877723142877-5im4ugqla8cqcho533cmk550lba9lf9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877723142877-5im4ugqla8cqcho533cmk550lba9lf9k</string>
	<key>API_KEY</key>
	<string>AIzaSyDSnM--VuKWgdFL0rEgHQqygGFFOtk4hMw</string>
	<key>GCM_SENDER_ID</key>
	<string>877723142877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAssignment</string>
	<key>PROJECT_ID</key>
	<string>flutter-task-70dd7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-task-70dd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877723142877:ios:bdcfd682b00ddd450d6934</string>
</dict>
</plist>